In [66]:
import pandas as pd
import requests

In [67]:
data = pd.read_csv("./data/master_dataset.csv")
data = data.dropna(subset=["Pesticide_Use_per_Cropland"])
simple = data[["Area", "Year", "Pesticide_Use_per_Cropland"]].drop_duplicates().reset_index(drop=True)

simple.head()

                  Area  Year  Pesticide_Use_per_Cropland
0              Albania  1990                        0.17
1              Algeria  1990                        0.75
2               Angola  1990                        0.02
3  Antigua and Barbuda  1990                       34.89
4            Argentina  1990                        0.95

In [68]:
response = requests.get('https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson')
vizible = response.json()

visible_countries = pd.json_normalize(vizible['features'])
visible_countries

,type,id,properties.name,geometry.type,geometry.coordinates
0,Feature,AFG,Afghanistan,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Feature,AGO,Angola,MultiPolygon,"[[[[16.326528, -5.87747], [16.57318, -6.622645..."
2,Feature,ALB,Albania,Polygon,"[[[20.590247, 41.855404], [20.463175, 41.51508..."
3,Feature,ARE,United Arab Emirates,Polygon,"[[[51.579519, 24.245497], [51.757441, 24.29407..."
4,Feature,ARG,Argentina,MultiPolygon,"[[[[-65.5, -55.2], [-66.45, -55.25], [-66.9599..."
...,...,...,...,...,...
172,Feature,PSE,West Bank,Polygon,"[[[35.545665, 32.393992], [35.545252, 31.78250..."
173,Feature,YEM,Yemen,Polygon,"[[[53.108573, 16.651051], [52.385206, 16.38241..."
174,Feature,ZAF,South Africa,Polygon,"[[[31.521001, -29.257387], [31.325561, -29.401..."
175,Feature,ZMB,Zambia,Polygon,"[[[32.759375, -9.230599], [33.231388, -9.67672..."
176,Feature,ZWE,Zimbabwe,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."

In [69]:
country_map = {
    'United States of America': 'USA',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'United Kingdom of Great Britain and Northern Ireland': 'England',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'Czechia': 'Czech Republic',
    'Russian Federation': 'Russia',
    'Serbia': 'Republic of Serbia',
    'North Macedonia': 'Macedonia',
    'Republic of Moldova': 'Moldova',
    'Türkiye': 'Turkey',
    'Syrian Arab Republic': 'Syria',
    'Palestine': 'West Bank',
    'Guinea-Bissau': 'Guinea Bissau',
    "Côte d'Ivoire": 'Ivory Coast',
    'Congo': 'Republic of the Congo',
    'Eswatini': 'Swaziland',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'China, Taiwan Province of': 'Taiwan',
    "Lao People's Democratic Republic": 'Laos',
    'Viet Nam': 'Vietnam',
    'Bahamas': 'The Bahamas'
}

In [70]:
simple["Area"] = simple["Area"].replace(country_map)
only_visible = simple[simple["Area"].isin(visible_countries["properties.name"])].reset_index(drop=True)
# only_visible["Area"].drop_duplicates().to_excel("boof.xlsx")
print(only_visible.shape[0])
only_visible.head(25)

5125

                        Area  Year  Pesticide_Use_per_Cropland
0                    Albania  1990                        0.17
1                    Algeria  1990                        0.75
2                     Angola  1990                        0.02
3                  Argentina  1990                        0.95
4                  Australia  1990                        1.04
5                    Austria  1990                        2.82
6                The Bahamas  1990                       26.89
7                 Bangladesh  1990                        0.13
8                     Belize  1990                       10.01
9                      Benin  1990                        0.81
10                    Bhutan  1990                        0.03
11                   Bolivia  1990                        1.09
12                  Botswana  1990                        0.83
13                    Brazil  1990                        0.91
14                  Bulgaria  1990                        0.94
15              Burkina Faso  1990                        0.13
16                   Burundi  1990                        0.07
17                  Cambodia  1990                        0.13
18                  Cameroon  1990                        0.31
19                    Canada  1990                        0.71
20  Central African Republic  1990                        0.08
21                      Chad  1990                        0.02
22                     Chile  1990                        1.10
23                     China  1990                        1.17
24                    Taiwan  1990                       11.18

In [71]:
only_visible.rename(columns={"Area": "country", "Year": "year", "Pesticide_Use_per_Cropland": "pesticides_per_cropland"}, inplace=True)
only_visible.to_csv("./data/pesticides_clean.csv", index=False)

In [72]:
"""

Name in Countries Geometry  |   Name in Master Dataset

USA                             United States of America
Venezuela                       Venezuela (Bolivarian Republic of)
Bolivia                         Bolivia (Plurinational State of)
England                         United Kingdom of Great Britain and Northern Ireland
Netherlands                     Netherlands (Kingdom of the)
Czech Republic                  Czechia
Russia                          Russian Federation
Republic of Serbia              Serbia
Macedonia                       North Macedonia
Moldova                         Republic of Moldova
Turkey                          Türkiye
Syria                           Syrian Arab Republic
West Bank                       Palestine
Guinea Bissau                   Guinea-Bissau
Ivory Coast                     Côte d'Ivoire
Republic of the Congo           Congo
Swaziland                       Eswatini
Iran                            Iran (Islamic Republic of)
South Korea                     Republic of Korea
Taiwan                          China, Taiwan Province of
Laos                            Lao People's Democratic Republic
Vietnam                         Viet Nam




Nations with no data
Guyana
Greenland
Kosovo
UAE
South Sudan
Afghanistan
Uzbekistan



"""

"\n\nName in Countries Geometry  |   Name in Master Dataset\n\nUSA                             United States of America\nVenezuela                       Venezuela (Bolivarian Republic of)\nBolivia                         Bolivia (Plurinational State of)\nEngland                         United Kingdom of Great Britain and Northern Ireland\nNetherlands                     Netherlands (Kingdom of the)\nCzech Republic                  Czechia\nRussia                          Russian Federation\nRepublic of Serbia              Serbia\nMacedonia                       North Macedonia\nMoldova                         Republic of Moldova\nTurkey                          Türkiye\nSyria                           Syrian Arab Republic\nWest Bank                       Palestine\nGuinea Bissau                   Guinea-Bissau\nIvory Coast                     Côte d'Ivoire\nRepublic of the Congo           Congo\nSwaziland                       Eswatini\nIran                            Iran (Islamic Republic of)\nSouth Korea                     Republic of Korea\nTaiwan                          China, Taiwan Province of\nLaos                            Lao People's Democratic Republic\nVietnam                         Viet Nam\n\n\n\n\nNations with no data\nGuyana\nGreenland\nKosovo\nUAE\nSouth Sudan\nAfghanistan\nUzbekistan\n\n\n\n"