In [3]:
import pandas as pd
import requests
import numpy as np

In [4]:
data = pd.read_csv("./data/master_dataset.csv")
data = data.dropna(subset=["Pesticide_Use_per_Cropland"])
simple = data[["Area", "Year", "Pesticide_Use_per_Cropland"]].drop_duplicates().reset_index(drop=True)

simple.head()

                  Area  Year  Pesticide_Use_per_Cropland
0              Albania  1990                        0.17
1              Algeria  1990                        0.75
2               Angola  1990                        0.02
3  Antigua and Barbuda  1990                       34.89
4            Argentina  1990                        0.95

In [5]:
response = requests.get('https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson')
vizible = response.json()

visible_countries = pd.json_normalize(vizible['features'])
visible_countries

,type,id,properties.name,geometry.type,geometry.coordinates
0,Feature,AFG,Afghanistan,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Feature,AGO,Angola,MultiPolygon,"[[[[16.326528, -5.87747], [16.57318, -6.622645..."
2,Feature,ALB,Albania,Polygon,"[[[20.590247, 41.855404], [20.463175, 41.51508..."
3,Feature,ARE,United Arab Emirates,Polygon,"[[[51.579519, 24.245497], [51.757441, 24.29407..."
4,Feature,ARG,Argentina,MultiPolygon,"[[[[-65.5, -55.2], [-66.45, -55.25], [-66.9599..."
...,...,...,...,...,...
172,Feature,PSE,West Bank,Polygon,"[[[35.545665, 32.393992], [35.545252, 31.78250..."
173,Feature,YEM,Yemen,Polygon,"[[[53.108573, 16.651051], [52.385206, 16.38241..."
174,Feature,ZAF,South Africa,Polygon,"[[[31.521001, -29.257387], [31.325561, -29.401..."
175,Feature,ZMB,Zambia,Polygon,"[[[32.759375, -9.230599], [33.231388, -9.67672..."
176,Feature,ZWE,Zimbabwe,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."

In [6]:
country_map = {
    'United States of America': 'USA',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'United Kingdom of Great Britain and Northern Ireland': 'England',
    'Netherlands (Kingdom of the)': 'Netherlands',
    'Czechia': 'Czech Republic',
    'Russian Federation': 'Russia',
    'Serbia': 'Republic of Serbia',
    'North Macedonia': 'Macedonia',
    'Republic of Moldova': 'Moldova',
    'Türkiye': 'Turkey',
    'Syrian Arab Republic': 'Syria',
    'Palestine': 'West Bank',
    'Guinea-Bissau': 'Guinea Bissau',
    "Côte d'Ivoire": 'Ivory Coast',
    'Congo': 'Republic of the Congo',
    'Eswatini': 'Swaziland',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'South Korea',
    'China, Taiwan Province of': 'Taiwan',
    "Lao People's Democratic Republic": 'Laos',
    'Viet Nam': 'Vietnam',
    'Bahamas': 'The Bahamas'
}

In [7]:
simple["Area"] = simple["Area"].replace(country_map)
only_visible = simple[simple["Area"].isin(visible_countries["properties.name"])].reset_index(drop=True)
# only_visible["Area"].drop_duplicates().to_excel("boof.xlsx")
print(only_visible.shape[0])
only_visible.head(25)

5125

                        Area  Year  Pesticide_Use_per_Cropland
0                    Albania  1990                        0.17
1                    Algeria  1990                        0.75
2                     Angola  1990                        0.02
3                  Argentina  1990                        0.95
4                  Australia  1990                        1.04
5                    Austria  1990                        2.82
6                The Bahamas  1990                       26.89
7                 Bangladesh  1990                        0.13
8                     Belize  1990                       10.01
9                      Benin  1990                        0.81
10                    Bhutan  1990                        0.03
11                   Bolivia  1990                        1.09
12                  Botswana  1990                        0.83
13                    Brazil  1990                        0.91
14                  Bulgaria  1990                        0.94
15              Burkina Faso  1990                        0.13
16                   Burundi  1990                        0.07
17                  Cambodia  1990                        0.13
18                  Cameroon  1990                        0.31
19                    Canada  1990                        0.71
20  Central African Republic  1990                        0.08
21                      Chad  1990                        0.02
22                     Chile  1990                        1.10
23                     China  1990                        1.17
24                    Taiwan  1990                       11.18

In [8]:
# only_visible.rename(columns={"Area": "country", "Year": "year", "Pesticide_Use_per_Cropland": "pesticides_per_cropland"}, inplace=True)
# only_visible.to_csv("./data/pesticides_clean.csv", index=False)

In [9]:
"""

Name in Countries Geometry  |   Name in Master Dataset

USA                             United States of America
Venezuela                       Venezuela (Bolivarian Republic of)
Bolivia                         Bolivia (Plurinational State of)
England                         United Kingdom of Great Britain and Northern Ireland
Netherlands                     Netherlands (Kingdom of the)
Czech Republic                  Czechia
Russia                          Russian Federation
Republic of Serbia              Serbia
Macedonia                       North Macedonia
Moldova                         Republic of Moldova
Turkey                          Türkiye
Syria                           Syrian Arab Republic
West Bank                       Palestine
Guinea Bissau                   Guinea-Bissau
Ivory Coast                     Côte d'Ivoire
Republic of the Congo           Congo
Swaziland                       Eswatini
Iran                            Iran (Islamic Republic of)
South Korea                     Republic of Korea
Taiwan                          China, Taiwan Province of
Laos                            Lao People's Democratic Republic
Vietnam                         Viet Nam




Nations with no data
Guyana
Greenland
Kosovo
UAE
South Sudan
Afghanistan
Uzbekistan



"""

"\n\nName in Countries Geometry  |   Name in Master Dataset\n\nUSA                             United States of America\nVenezuela                       Venezuela (Bolivarian Republic of)\nBolivia                         Bolivia (Plurinational State of)\nEngland                         United Kingdom of Great Britain and Northern Ireland\nNetherlands                     Netherlands (Kingdom of the)\nCzech Republic                  Czechia\nRussia                          Russian Federation\nRepublic of Serbia              Serbia\nMacedonia                       North Macedonia\nMoldova                         Republic of Moldova\nTurkey                          Türkiye\nSyria                           Syrian Arab Republic\nWest Bank                       Palestine\nGuinea Bissau                   Guinea-Bissau\nIvory Coast                     Côte d'Ivoire\nRepublic of the Congo           Congo\nSwaziland                       Eswatini\nIran                            Iran (Islamic Republic of)\nSouth Korea                     Republic of Korea\nTaiwan                          China, Taiwan Province of\nLaos                            Lao People's Democratic Republic\nVietnam                         Viet Nam\n\n\n\n\nNations with no data\nGuyana\nGreenland\nKosovo\nUAE\nSouth Sudan\nAfghanistan\nUzbekistan\n\n\n\n"

In [40]:
mast_data = pd.read_csv("./data/master_dataset.csv")
mast_data.head()

,Area,Item,Year,Production,Temperature Change Compared to Previous Year,Cropland nitrogen per unit area,Cropland phosphorus per unit area,Cropland potassium per unit area,Pesticide_Use_per_Cropland
0,Afghanistan,"Almonds, in shell",1961,0.0,0.010353,50.8819,6.04,25.0462,NaN
1,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1961,NaN,0.010353,50.8819,6.04,25.0462,NaN
2,Afghanistan,Apples,1961,15100.0,0.010353,50.8819,6.04,25.0462,NaN
3,Afghanistan,Apricots,1961,32000.0,0.010353,50.8819,6.04,25.0462,NaN
4,Afghanistan,Barley,1961,378000.0,0.010353,50.8819,6.04,25.0462,NaN

In [41]:
list_top10 = ["Cereals, primary", "Sugar Crops Primary", "Sugar cane", "Hen eggs in shell, fresh", "Roots and Tubers, Total", "Vegetables Primary", "Maize (corn)", "Milk, Total", "Rice", "Wheat"]
mast_data = mast_data[mast_data["Item"].isin(list_top10)].reset_index(drop=True)
mast_data = mast_data[(mast_data["Year"] >= 1990) & (mast_data["Year"] <= 2022)].reset_index(drop=True)
mast_data["Area"] = mast_data["Area"].replace(country_map)
mast_data = mast_data[mast_data["Area"].isin(visible_countries["properties.name"])].reset_index(drop=True)
mast_data = mast_data.drop_duplicates(subset=['Area', 'Item', 'Year'], keep='first')
mast_data.head(11)

,Area,Item,Year,Production,Temperature Change Compared to Previous Year,Cropland nitrogen per unit area,Cropland phosphorus per unit area,Cropland potassium per unit area,Pesticide_Use_per_Cropland
0,Afghanistan,"Hen eggs in shell, fresh",1990,14300.0,0.640059,71.7056,4.5528,19.0914,NaN
2,Afghanistan,Maize (corn),1990,480000.0,0.640059,71.7056,4.5528,19.0914,NaN
3,Afghanistan,Rice,1990,333000.0,0.640059,71.7056,4.5528,19.0914,NaN
4,Afghanistan,Sugar cane,1990,55000.0,0.640059,71.7056,4.5528,19.0914,NaN
5,Afghanistan,Wheat,1990,1650000.0,0.640059,71.7056,4.5528,19.0914,NaN
6,Afghanistan,"Cereals, primary",1990,2705000.0,0.640059,71.7056,4.5528,19.0914,NaN
7,Afghanistan,"Milk, Total",1990,830150.0,0.640059,71.7056,4.5528,19.0914,NaN
8,Afghanistan,"Roots and Tubers, Total",1990,224000.0,0.640059,71.7056,4.5528,19.0914,NaN
9,Afghanistan,Sugar Crops Primary,1990,56500.0,0.640059,71.7056,4.5528,19.0914,NaN
10,Afghanistan,Vegetables Primary,1990,377600.0,0.640059,71.7056,4.5528,19.0914,NaN
11,Albania,"Hen eggs in shell, fresh",1990,16500.0,0.751765,596.8936,86.4411,212.5105,0.17

In [42]:
prev_data = mast_data.copy()
prev_data["Year"] += 1

# Merge current data with previous-year data
merged = pd.merge(
    mast_data,
    prev_data,
    on=["Area", "Item", "Year"],
    suffixes=("", "_prev")
)

# Compute percentage change for each variable
def percent_change(current, previous):
    return (current - previous) / previous

merged["nitroChange"] = percent_change(
    merged["Cropland nitrogen per unit area"],
    merged["Cropland nitrogen per unit area_prev"]
)

merged["phosphorusChange"] = percent_change(
    merged["Cropland phosphorus per unit area"],
    merged["Cropland phosphorus per unit area_prev"]
)

merged["potassiumChange"] = percent_change(
    merged["Cropland potassium per unit area"],
    merged["Cropland potassium per unit area_prev"]
)

merged["pestChange"] = percent_change(
    merged["Pesticide_Use_per_Cropland"],
    merged["Pesticide_Use_per_Cropland_prev"]
)

merged["yieldChange"] = percent_change(
    merged["Production"],
    merged["Production_prev"]
)

# Merge the calculated changes back to the original dataset
mast_data = pd.merge(
    mast_data[["Area", "Item", "Year", "Temperature Change Compared to Previous Year"]],
    merged[["Area", "Item", "Year", "nitroChange", "phosphorusChange", "potassiumChange", "pestChange", "yieldChange"]],
    on=["Area", "Item", "Year"],
    how="left"
)

mast_data.rename(columns={"Temperature Change Compared to Previous Year": "tempChange"}, inplace=True)
mast_data.reset_index(drop=True, inplace=True)

In [43]:
mast_data[(mast_data["Year"] == 1996) & (mast_data["Area"] == "South Sudan")].head(11)

,Area,Item,Year,tempChange,nitroChange,phosphorusChange,potassiumChange,pestChange,yieldChange
10104,South Sudan,"Hen eggs in shell, fresh",1996,NaN,NaN,NaN,NaN,NaN,NaN
10105,South Sudan,Maize (corn),1996,NaN,NaN,NaN,NaN,NaN,NaN
10106,South Sudan,Rice,1996,NaN,NaN,NaN,NaN,NaN,NaN
10107,South Sudan,Sugar cane,1996,NaN,NaN,NaN,NaN,NaN,NaN
10108,South Sudan,Wheat,1996,NaN,NaN,NaN,NaN,NaN,NaN
10109,South Sudan,"Cereals, primary",1996,NaN,NaN,NaN,NaN,NaN,NaN
10110,South Sudan,"Milk, Total",1996,NaN,NaN,NaN,NaN,NaN,NaN
10111,South Sudan,"Roots and Tubers, Total",1996,NaN,NaN,NaN,NaN,NaN,NaN
10112,South Sudan,Vegetables Primary,1996,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
mast_data.to_csv("./data/changes.csv", index=False, na_rep = "-999")

In [ ]:
# quantileData = mast_data.copy()

# def trueMin(x: pd.Series):
#     return x.min()

# def lowerWhisker(x: pd.Series):
#     q1 = x.quantile(0.25)
#     iqr = x.quantile(0.75) - q1
#     return q1 - 1.5 * iqr

# def q1(x: pd.Series):
#     return x.quantile(0.25)

# def median(x: pd.Series):
#     return x.median()

# def q3(x: pd.Series):
#     return x.quantile(0.75)

# def upperWhisker(x: pd.Series):
#     q3 = x.quantile(0.75)
#     iqr = q3 - x.quantile(0.25)
#     return q3 + 1.5 * iqr

# def trueMax(x: pd.Series):
#     return x.max()

# quantileData = quantileData.groupby(["Area", "Item"])[["tempChange", "nitroChange", "phosphorusChange", "potassiumChange", "pestChange", "yieldChange"]].agg(func=[trueMin, lowerWhisker, q1, median, q3, upperWhisker, trueMax])
# quantileData.head(10)

c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)
c:\Users\calvi\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4576: RuntimeWarning: invalid value encountered in subtract
  subtract(b, diff_b_a * (1 - t), out=lerp_interpolation, where=t >= 0.5)

                                     tempChange                         \
                                        trueMin lowerWhisker        q1
Area        Item
Afghanistan Cereals, primary          -0.244882    -1.058882  0.411824
            Hen eggs in shell, fresh  -0.244882    -1.058882  0.411824
            Maize (corn)              -0.244882    -1.058882  0.411824
            Milk, Total               -0.244882    -1.058882  0.411824
            Rice                      -0.244882    -1.058882  0.411824
            Roots and Tubers, Total   -0.244882    -1.058882  0.411824
            Sugar Crops Primary       -0.244882    -1.058882  0.411824
            Sugar cane                -0.244882    -1.058882  0.411824
            Vegetables Primary        -0.244882    -1.058882  0.411824
            Wheat                     -0.244882    -1.058882  0.411824

                                                                       \
                                        median        q3 upperWhisker
Area        Item
Afghanistan Cereals, primary          0.958765  1.392294        2.863
            Hen eggs in shell, fresh  0.958765  1.392294        2.863
            Maize (corn)              0.958765  1.392294        2.863
            Milk, Total               0.958765  1.392294        2.863
            Rice                      0.958765  1.392294        2.863
            Roots and Tubers, Total   0.958765  1.392294        2.863
            Sugar Crops Primary       0.958765  1.392294        2.863
            Sugar cane                0.958765  1.392294        2.863
            Vegetables Primary        0.958765  1.392294        2.863
            Wheat                     0.958765  1.392294        2.863

                                               nitroChange               \
                                       trueMax     trueMin lowerWhisker
Area        Item
Afghanistan Cereals, primary          1.909118   -0.203105    -0.168322
            Hen eggs in shell, fresh  1.909118   -0.203105    -0.168322
            Maize (corn)              1.909118   -0.203105    -0.168322
            Milk, Total               1.909118   -0.203105    -0.168322
            Rice                      1.909118   -0.203105    -0.168322
            Roots and Tubers, Total   1.909118   -0.203105    -0.168322
            Sugar Crops Primary       1.909118   -0.203105    -0.168322
            Sugar cane                1.909118   -0.203105    -0.168322
            Vegetables Primary        1.909118   -0.203105    -0.168322
            Wheat                     1.909118   -0.203105    -0.168322

                                                ... pestChange               \
                                            q1  ...         q3 upperWhisker
Area        Item                                ...
Afghanistan Cereals, primary         -0.033222  ...        NaN          NaN
            Hen eggs in shell, fresh -0.033222  ...        NaN          NaN
            Maize (corn)             -0.033222  ...        NaN          NaN
            Milk, Total              -0.033222  ...        NaN          NaN
            Rice                     -0.033222  ...        NaN          NaN
            Roots and Tubers, Total  -0.033222  ...        NaN          NaN
            Sugar Crops Primary      -0.033222  ...        NaN          NaN
            Sugar cane               -0.033222  ...        NaN          NaN
            Vegetables Primary       -0.033222  ...        NaN          NaN
            Wheat                    -0.033222  ...        NaN          NaN

                                             yieldChange               \
                                     trueMax     trueMin lowerWhisker
Area        Item
Afghanistan Cereals, primary             NaN   -0.404249    -0.576237
            Hen eggs in shell, fresh     NaN   -0.326979    -0.060519
            Maize (corn)                 NaN   -0.520833    -0.610193
            Milk, Total                  NaN   -0.330144    -0.145032
            Rice                         NaN   -0.377778    -0.291328
            Roots and Tubers, Total      NaN   -0.186508    -0.138522
            Sugar Crops Primary          NaN   -0.628138    -0.445267
            Sugar cane                   NaN   -0.626211    -0.483669
            Vegetables Primary           NaN   -0.369858    -0.084073
            Wheat                        NaN   -0.415031    -0.567521

                                                                    \
                                            q1    median        q3
Area        Item
Afghanistan Cereals, primary         -0.143458  0.017465  0.145061
            Hen eggs in shell, fresh  0.000000  0.004144  0.040346
            Maize (corn)             -0.178125  0.001393  0.109921
            Milk, Total              -0.011711  0.016113  0.077170
            Rice                     -0.050608  0.043996  0.109872
            Roots and Tubers, Total  -0.001116  0.008621  0.090488
            Sugar Crops Primary      -0.127169  0.000000  0.084896
            Sugar cane               -0.152342  0.000000  0.068543
            Vegetables Primary       -0.022399 -0.005848  0.018717
            Wheat                    -0.121113  0.031639  0.176492


                                     upperWhisker   trueMax
Area        Item
Afghanistan Cereals, primary             0.577840  0.772770
            Hen eggs in shell, fresh     0.100865  0.277099
            Maize (corn)                 0.541989  0.904762
            Milk, Total                  0.210492  0.684036
            Rice                         0.350592  0.603306
            Roots and Tubers, Total      0.227894  0.521739
            Sugar Crops Primary          0.402993  0.891006
            Sugar cane                   0.399870  0.956798
            Vegetables Primary           0.080391  2.165629
            Wheat                        0.622900  0.930614

[10 rows x 42 columns]